/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


html,
body {
    
    background-color: #fff;
    color: #555;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}



/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* --------------------------------------------*/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: black;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 42px;
 
}

h2:before
{
    display: block;
   
    height: 2px;
    background-color: #4286F5; 
    content: " ";
    width: 60px;
    margin: 0 auto;
    margin-bottom: 20px;
}

h3, .h3 {
  font-size: 1.5rem;
}

h4, .h4 {
  font-size: 1.3rem;
  line-height: 30px;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  line-height: 30px;
}


.row {
    max-width: 1140px;
    margin: 0 auto;
}

.size-xs{
  font-size:0.8rem;
  }
  .size-s{
  font-size:1rem;
  }
  .size-m{
  font-size:1.2rem;
  }
  .size-l{
  font-size:1.5rem;
  }
  .size-xl{
  font-size:2rem;
  }
  .size-xxl{
  font-size:3rem;
  }
  
  
  @media(min-width:360px){
  .size-xs{
    font-size:1rem;
  }
  .size-s{
    font-size:1.1rem;
  }
  .size-m{
    font-size:1.5rem;
  }
  .size-l{
    font-size:1.8rem;
  }
  .size-xl{
    font-size:2.2rem;
  }
  .size-xxl{
    font-size:3.5rem;
  }
  
  }
  @media (min-width: 992px) {
  .size-xl{
  font-size:3rem;
  }
  .size-l{
  font-size:2rem;
  }
  .size-m{
  font-size:1.8rem;
  }
  .size-s{
  font-size:1.15rem;
  }
  .size-xs{
  font-size:1rem;
  }
  .size-xxl{
  font-size:3.5rem;
  }
  
  }
  
  
  .ink-black{
  color:#2D2D2D;
  }
  .ink-dark{
  color:#95989A;
  }
  .ink-light{
  color:#D4D4D4;
  }
  .ink-white{
  color:rgb(255, 255, 255);
  }
  .ink-blue{
  color:#00A8FF;
  }

  .base-light{
  font-weight: 200;
  }
  .base-semilight{
  font-weight: 400;
  }
  .base-regular{
  font-weight: 600;
  }
  .base-semibold{
  font-weight:700;
  }
  .base-bold{
  font-weight:800;
  }

  .center{
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  }
  @media(min-width:600px){
  }
  .center-col{
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  }

  #email_button{
   padding:0.5rem 1.5rem;
   text-decoration: none;
   margin:1rem;
   border-radius: 2rem;
   box-shadow: 0 7px 14px rgba(0,0,0,0.18);
   background: white;
   cursor: pointer;
  }
  #email_button:hover{
    text-decoration: none;
    background: rgb(231, 231, 231);
  }
  #contact_us_container{
    padding:2rem 1rem;
    background-color: #ececec;
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
  }
  #faqs_container{
    padding:2rem 1rem;
    background-color: #ffffff;
  }
  #faqs{
    max-width:700px;
    outline: none;
  }
  .faq-title{
    padding:0.5rem 2rem;
    border:1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
    background: rgb(255, 255, 255);
    cursor: pointer;
    margin:0.6rem 0.2rem;
  }
  .faq-title-active{
    border:1px solid rgba(0, 132, 255, 0.822);
    color:rgba(0, 132, 255, 0.918);
  }
  .faq-title:hover{
    border:1px solid rgba(0, 132, 255, 0.822);
    color:rgba(0, 132, 255, 0.918);
  }
  .faq-body{
    display: none;
    max-width: 600px;
    margin-bottom:1rem;
  }
  #footer{
    padding:1rem 0.8rem;
    background: #ececec;
    border-top:1px solid rgba(0, 0, 0, 0.1);
  }
  .footer-bar{
    padding: 0.7rem 0rem;
  }
#footer-bar1{
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
}
@media(max-width:700px){
  #footer-bar1{
    display: block;
  }
  #footer-links{
    padding-top: 1rem;
  }
}
#footer-links{
  display: flex;
  justify-content:space-around;
}
#footer-location{
  display: flex;
  flex-direction: column;
  text-align: left;
}
.footer-link{
  cursor: pointer;
}
.footer-link:hover{
  color:rgb(122, 122, 122);
}
.footer-icon{
  height: 1.1em;
  box-sizing: border-box;
  margin: 0.1em;
  margin-bottom: 0em;
  cursor: pointer;
}
#footer-credits-button{
  text-align: left;
}
.footer-icon:hover{
  opacity: 0.7;
}
#footer-credits-body{
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  margin-top:1rem;
}
.footer-credit{
  cursor: pointer;
  margin-right: 1.1rem;
  color:rgb(32, 32, 32);
}
.footer-credit:hover{
  opacity: 0.7;
  text-decoration: underline;
}