/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


html,
body {

  background-color: #fff;
  color: #555;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}



/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* --------------------------------------------*/

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: black;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 42px;

}

h2:after {
  display: block;

  height: 2px;
  background-color: #4286F5;
  content: " ";
  width: 60px;
  margin: 0 auto;
  margin-top: 20px;
}

h3,
.h3 {
  font-size: 1.5rem;
}

h4,
.h4 {
  font-size: 1.3rem;
  line-height: 30px;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

p {
  line-height: 30px;
}





.navbar {
  padding: .8rem;
}

.navbar-nav li {
  padding-right: 50px;
}

.promo-title {
  font-size: 40px;
  font-weight: 600;

}

#banner {
  padding-left: 25px;
  padding-top: 35px;
}

.promo {
  font-size: 20px;
  font-weight: 450;
}

/*

*/






.socicons-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.socicons-list li {
  margin: 30px 65px;
}


